<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head') -%>
  <link rel="stylesheet" type="text/css" href="/src/css/generalStyle.css">
  <script type="text/javascript" src="/src/js/loginUtilities.js"></script>
</head>
<body>

<header>
  <%if(user=='Usuari'){%>
      <%- include ('../partials/header') -%>
  <%} else {%>
      <%- include ('../partials/loggedUserHeader') -%>
  <%}%>
</header>

<main>
  <div class="container mb-5">
    <h2>Política de cookies</h2>
    <p><strong>Cookie</strong> es un fichero que se descarga en su ordenador al acceder a determinadas páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario. El navegador del usuario memoriza cookies en el disco duro solamente durante la sesión actual ocupando un espacio de memoria mínimo y no perjudicando al ordenador. Las cookies no contienen ninguna clase de información personal específica, y la mayoría de las mismas se borran del disco duro al finalizar la sesión de navegador (las denominadas cookies de sesión).</p>

    <p>La mayoría de los navegadores aceptan como estándar a las cookies y, con independencia de las mismas, permiten o impiden en los ajustes de seguridad las cookies temporales o memorizadas.</p>

    <p>Por lo general existen 3 tipos de cookies:</p>

    <ul><li><strong>Cookies técnicas</strong>: Son aquellas que permiten al usuario la navegación a través de una página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar contenidos para la difusión de videos o sonido o compartir contenidos a través de redes sociales.</li><li><strong>Cookies de personalización</strong>: Son aquéllas que permiten al usuario acceder al servicio con algunas características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario como por ejemplo serian el idioma, el tipo de navegador a través del cual accede al servicio, la configuración regional desde donde accede al servicio, etc.</li><li><strong>Cookies de análisis</strong>: Son aquéllas que bien tratadas por nosotros o por terceros, nos permiten cuantificar el número de usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los usuarios del servicio ofertado. Para ello se analiza su navegación en nuestra página web con el fin de mejorar la oferta de productos o servicios que le ofrecemos, en este caso nuestras publicaciones.</li></ul>

    <h3>Cookies activas</h3>
    <p>Este sitio web utiliza cookies propias para su correcto funcionamiento: de personalización, para el idioma, y técnicas, para la identificación de la sesión.</p>

    <h3>Gestión de cookies según el navegador</h3>
    <ul><li>Para más información sobre Internet Explorer pulse <a href="https://windows.microsoft.com/es-ES/windows7/How-to-manage-cookies-in-Internet-Explorer-9" target="_blank" rel="noreferrer noopener">aquí.</a></li><li>Para más información sobre Firefox pulse <a href="https://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-" target="_blank" rel="noreferrer noopener">aquí.</a></li><li>Para más información sobre Google Chrome pulse <a href="https://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647" target="_blank" rel="noreferrer noopener">aquí.</a></li><li>Para más información sobre Safari pulse <a href="https://support.apple.com/kb/PH5042" target="_blank" rel="noreferrer noopener">aquí.</a></li><li>Para más información sobre Opera pulse <a href="https://www.opera.com/browser/tutorials/security/privacy/" target="_blank" rel="noreferrer noopener">aquí.</a></li></ul>
    <p>Si tu navegador no es ninguno de los anteriores, deberás leer la página de ayuda correspondiente al mismo, proporcionada normalmente de forma accesible por el mismo en sus menús o en su página oficial.</p>

    <h3>Política de privacidad</h3>
    <p>Puede consultar <a href="/privacyPolicy">aquí</a> la política de privacidad de la página.</p>

    <h3>Contacto</h3>
    <p>Los&nbsp; usuarios <strong>podrán ejercer sus derechos</strong> mediante contacto con la dirección de correo electrónico <a href="mailto:tecnoagoraorg@gmail.com">tecnoagoraorg@gmail.com</a>, poniéndose en contacto con el equipo de administración de la página.</p>
  </div>
</main>
<%- include ('../partials/footer') -%>
</body>
</html>
